* {
  font-family: Raleway;
}
#input {
  border: 0;
  height: 40px;
  width: 200px;
  background-color: #769ebd;
  font-size: large;
}

input:focus {
  outline: none !important;
}
input:hover {
  border-style: none;
}
input::placeholder {
  color: #fff;
}

input:focus::placeholder {
  color: transparent;
}


.weather-label{
  color: #fff;
  font-size: 1.2rem;
}

.error{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.error img{
  width: 200px;
  height: 200px;
}


textarea:focus,
input:focus {
  outline: none;
  border-bottom: 2px solid #5878c8;
}
form {
  margin-left: 2%;
  margin-top: 2%;
}
header {
  transition: background-color 1s ease-in;
  color: white;
  background-color: #769edb;
  display: flex;
  padding-bottom: 1%;
}

header button {
  padding-left: 1.5em;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-bottom: 0.2rem;
  transition: background-color 1s ease-in;
  margin-left: 20rem;
  background-color: #5878c8;
  border: #6495ed;
}
.p1 {
  font-size: x-large;
}
.Paragraph {
  color: white;
  font-size: x-large;
  padding-left: 46%;
}
span p {
  padding-left: 45%;
}

.mostlycloudy {
  margin-left: 1%;
}
body {
  transition: background-color 1s ease-in;
  background-color: #9ccef3;
  margin: 0;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
  padding-left: 1%;
}
th,
td {
  padding: 20px;
}
.one {
  width: 90%;
}
.mostlycloudy {
  padding-left: 43%;
  width: 15rem;
}

#hours {
  display: flex;
  justify-content: space-evenly;
}

#hours img {
  width: 80px;
  height: 80px;
}

#hours p {
  font-size: 1.2rem;
  margin-left: 20px;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p2 {
  display: flex;
}

#pres {
  margin-left: 5px;
}

#weather img {
  width: 200px;
  height: 200px;
}

#desc {
  color: white;
  font-size: 1.5rem;
}

#temp {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  header p {
    margin-top: 8%;
  }
  header button {
    margin-bottom: 4%;
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  span p {
    margin-left: 0px;
  }
  .mostlycloudy {
    padding-left: 5rem;
    width: 12rem;
  }
  .p1,
  .p2 {
    padding-left: 3rem;
  }
  .Paragraph {
    padding-left: 5rem;
  }

  table {
    border-collapse: collapse;
  }
  th,
  td {
    padding: 6px;
  }
}
 .app {
  height: 100%;
  width: 100%;
  transition: background-color 1s ease-in;
  -webkit-transition:;
  -moz-transition:;
  -ms-transition:;
  -o-transition:;
}
/*
.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

/* Current weather */

/* div {
  border: 5px solid red;
}
 */
